{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Play</title>

    <script type="text/javascript">
        function f()
        {
            var ships = [];

            {% for ship in game.ships.all %}
                var id = '{{ ship.id }}';
                var url = '{{ ship.image.url }}';
                var image = document.createElement("IMG");
                image.src = url;
                var x = '{{ ship.x }}', y = '{{ ship.y }}';
                var speed = '{{ ship.speed }}', angle = '{{ ship.angle }}';
                var racing = '{{ ship.racing }}', rotate = '{{ ship.rotate }}';

                var s = new Ship(parseInt(id), image, parseFloat(racing), parseFloat(speed), parseFloat(rotate), parseFloat(angle), parseFloat(x), parseFloat(y));
                ships.push(s);
            {% endfor %}

            var index = parseInt('{{ index }}');

            init(ships, index, parseInt('{{ game.id }}'));
        }
    </script>

</head>

<body onload="f()">

    {{ player }} <br>
    {{ player.ships.first }} <br>

    <canvas id="myCanvas" width="1300" height="550" style="border:1px solid #d3d3d3; width:100%;height:50%">

    </canvas>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/play.js' %}"></script>

</body>

</html>