{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Play</title>

    <script type="text/javascript">
        function f()
        {
            var ships = [];
            {% for ship in game.ships.all %}
                var s = new Ship({{ ship.image }}, {{ ship.speed }}, {{ ship.angle }}, {{ ship.x }}, {{ ship.y }});
                ships.push(s);
            {% endfor %}
            console.log("Ships" + ships.toString());
            init();
        }
    </script>

</head>

<body onload="f()">

    {{ player }} <br>
    {{ player.ships.first }} <br>

    <canvas id="myCanvas"  width="200" height="100" style="border:1px solid #d3d3d3;">

    </canvas>

    <script src="{% static 'js/play.js' %}"></script>

</body>

</html>