{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Play</title>

    <script type="text/javascript">
        function f()
        {
            if (document.addEventListener) {
                if ('onwheel' in document) {
                    // IE9+, FF17+, Ch31+
                    document.addEventListener("wheel", onWheel);
                } else if ('onmousewheel' in document) {
                    // устаревший вариант события
                    document.addEventListener("mousewheel", onWheel);
                } else {
                    // Firefox < 17
                    document.addEventListener("MozMousePixelScroll", onWheel);
                }
            } else { // IE8-
                //document.attachEvent("onmousewheel", onWheel);
            }

            var ships = [];

            {% for ship in game.ships.all %}
                var id = '{{ ship.id }}';
                var url = '{{ ship.image.url }}';
                var image = document.createElement("IMG");
                image.src = url;
                var x = '{{ ship.x }}', y = '{{ ship.y }}';
                var speed = '{{ ship.speed }}', angle = '{{ ship.angle }}';
                var racing = '{{ ship.racing }}', rotate = '{{ ship.rotate }}', braking = '{{ ship.braking }}';
                var hp = '{{ ship.hp }}', maxhp = '{{ ship.maxhp }}';
                var money = '{{ ship.money }}';
                var frags = '{{ ship.frags }}';
                var visible = false;
                {% if ship.visible %}
                    visible = true;
                {% endif %}
                var weapons = [];

                {% for weapon in ship.weapons.all %}
                    var w_id = '{{ weapon.id }}';
                    var w_url = '{{ weapon.image.url }}';
                    var w_image = document.createElement("IMG");
                    w_image.src = w_url;
                    var w_title = '{{ weapon.title }}';

                    var w = new Weapon(parseInt(w_id), w_image, w_title);
                    weapons.push(w);
                {% endfor %}

                var s = new Ship(parseInt(id), image, parseFloat(racing), parseFloat(braking), parseFloat(speed), parseFloat(rotate), parseFloat(angle), parseFloat(x), parseFloat(y), parseFloat(hp), parseInt(maxhp), parseInt(money), parseInt(frags), visible, weapons);
                ships.push(s);
            {% endfor %}

            var image1 = document.createElement("IMG");
            var url1 = '{{ game.map.image.url }}';
            image1.src = url1;

            var map = new Map(image1);

            var index = parseInt('{{ index }}');

            var im1 = document.createElement("IMG");
            im1.src = '{{ current.url }}';

            var images = {
                current: im1,
            };

            var shells = [];

            {% for shell in game.shells.all %}
                id = '{{ shell.id }}';
                url = '{{ shell.image.url }}';
                image = document.createElement("IMG");
                image.src = url;
                x = '{{ shell.x }}';
                y = '{{ shell.y }}';
                speed = '{{ shell.speed }}';
                angle = '{{ shell.angle }}';
                var ship_id = '{{ shell.ship_id }}';
                var lifetime = '{{ shell.lifetime }}';
                var time = '{{ shell.time }}';

                s = new Shell(parseInt(id), parseInt(ship_id), image, parseFloat(speed), parseFloat(x), parseFloat(y), parseFloat(angle), parseInt(lifetime), parseFloat(time));
                shells.push(s);
            {% endfor %}

            var static_objects = [];

            {% for obj in game.static_objects.all %}
                id = '{{ obj.id }}';
                url = '{{ obj.image.url }}';
                image = document.createElement("IMG");
                image.src = url;
                x = '{{ obj.x }}';
                y = '{{ obj.y }}';
                var title = '{{ obj.title }}';
                var solid = false;
                {% if obj.issolid %}
                    solid = true;
                {% endif %}
                var money_plus = '{{ obj.money_plus }}';
                var hp_plus = '{{ obj.hp_plus }}';
                visible = false;
                {% if obj.visible %}
                    visible = true;
                {% endif %}
                var weapon_id = null;
                {% if obj.weapon is not None %}
                    weapon_id = parseInt('{{ obj.weapon.id }}');
                {% endif %}

                var obj1 = new StaticObject(parseInt(id), image, title, parseFloat(x), parseFloat(y), solid, parseInt(money_plus), parseInt(hp_plus), visible, weapon_id);
                static_objects.push(obj1);
            {% endfor %}

            var moveable_objects = [];

            {% for obj in game.moveable_objects.all %}
                id = '{{ obj.id }}';
                url = '{{ obj.image.url }}';
                image = document.createElement("IMG");
                image.src = url;
                x = '{{ obj.x }}';
                y = '{{ obj.y }}';
                title = '{{ obj.title }}';
                angle = '{{ obj.angle }}';
                rotate = '{{ obj.rotate }}';
                var cx = '{{ obj.cx }}';
                var cy = '{{ obj.cy }}';
                var orbit = '{{ obj.orbit_rotate }}';
                solid = false;
                {% if obj.issolid %}
                    solid = true;
                {% endif %}
                visible = false;
                {% if obj.visible %}
                    visible = true;
                {% endif %}
                money_plus = '{{ obj.money_plus }}';
                hp_plus = '{{ obj.hp_plus }}';
                weapon_id = null;
                {% if obj.weapon is not None %}
                    weapon_id = parseInt('{{ obj.weapon.id }}');
                {% endif %}

                var obj2 = new MoveableObject(parseInt(id), image, title, parseFloat(x), parseFloat(y), parseFloat(angle), parseFloat(rotate), parseFloat(cx), parseFloat(cy), parseFloat(orbit), solid, parseInt(money_plus), parseInt(hp_plus), visible, weapon_id);
                moveable_objects.push(obj2);
            {% endfor %}

            var weapons_list = [];

            {% for w in weapons %}
                id = '{{ w.id }}';
                url = '{{ w.image.url }}';
                image = document.createElement("IMG");
                image.src = url;
                title = '{{ w.title }}';

                var weapon = new Weapon(parseInt(id), image, title);
                weapons_list.push(weapon);
            {% endfor %}

            init(map, ships, shells, static_objects, moveable_objects, weapons_list, index, parseInt('{{ game.id }}'), parseInt('{{ game.max_frags }}'), images);
        }
    </script>

</head>

<body onload="f()" bgcolor="#696969">

    <canvas id="myCanvas" width="1300" height="550" style="border:1px solid #d3d3d3; width:100%;height:50%">

    </canvas>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/play.js' %}"></script>

</body>

<script>

</script>

</html>