<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create game</title>
</head>
<body>
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" required placeholder="Title">
        <input type="number" name="quantity" required value="2" placeholder="Quantity"> <br>

        <select name="map" required>
            {% for map in maps %}
                <option value="{{ map.id }}">{{ map }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Create game">
    </form>
</body>
</html>