{% extends 'base.html' %}

{% block main %}

    <h3>Players</h3>
    <ul>
        {% for player in game.players.all %}
            {{ player }} <br>
        {% endfor %}
    </ul>

    <form action="{% url 'join' game.id %}" method="post" class="game">
        {% csrf_token %}

        {% if game.players.get_queryset.count < game.quantity %}
            <input type="submit" value="Join game">

        {% endif %}
    </form>

    <form class="game">
    {% for p in game.players.all %}
        {% if p.id == player.id %}
            <p>Choose your ship</p>
            {% for ship in player.ships.all %}
                <div id = "{{ ship.id }}" {% if player.ship_id == ship.id %} style="background:#505050" {% else %} style="background:#202020" {% endif %}>
                <p>{{ ship.title }}</p>
                <img src="{{ ship.image.url }}" align="left">
                <p>Racing: {{ ship.racing }} Braking: {{ ship.braking }} Rotation: {{ ship.rotate }}</p>
                <input type="button" onclick="{
                    $.ajax({
                        url: '/ajax/chooseShip/',
                        data: {
                            'player_id': {{ player.id }},
                            'ship_id': {{ ship.id }},
                        },
                        dataType: 'json',
                        success: function (data) {
                            document.getElementById('{{ ship.id }}').style='background:#505050';
                            {% for s in player.ships.all %}
                                {% if s.id != ship.id %}
                                    document.getElementById('{{ s.id }}').style='background:#202020';
                                {% endif %}
                            {% endfor %}
                        }
                    });
                }" value="Choose">
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </form>


    <form action="{% url 'start' game.id %}" method="post" class="game">
        {% csrf_token %}

        {% if game.players.first == player and game.players.get_queryset.count == game.quantity and not game.finished %}
            <input type="submit" value="Start game">
        {% else %}
            {% if game.started and not game.finished%}
                {% for p in game.players.all %}
                    {% if p.id == player.id %}
                        <input type="submit" value="Start game">
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </form>

    <form action="{% url 'finish' game.id %}" method="post" class="game">
        {% csrf_token %}

        {% if game.players.first == player %}

            {% if game.started and not game.finished %}
                <input type="submit" value="Finish game">
            {% endif %}

        {% else %}

        {% endif %}
    </form>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% endblock %}