<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }}</title>
</head>
<body>
    <h3>Players</h3>
    <ul>
        {% for player in game.players.all %}
            {{ player }} <br>
        {% endfor %}
    </ul>

    <form action="{% url 'join' game.id %}" method="post">
        {% csrf_token %}

        {% if game.players.get_queryset.count < game.quantity %}
            <input type="submit" value="Join">
        {% else %}
            <input type="submit" value="Join" disabled>
        {% endif %}
    </form>

    <form action="{% url 'start' game.id %}" method="post">
        {% csrf_token %}

        {% if game.players.first == player and game.players.get_queryset.count == game.quantity%}
            <input type="submit" value="Start game">
        {% else %}
            {% if game.started %}
                {% for p in game.players.all %}
                    {% if p.id == player.id %}
                        <input type="submit" value="Start game">
                    {% endif %}
                {% endfor %}
            {% else %}
                <input type="submit" value="Start game" disabled>
            {% endif %}
        {% endif %}
    </form>
</body>
</html>