{% extends 'base.html' %}

{% load filters %}

{% block main %}

    <h5>Available ships to buy</h5>

    <p id="money">Money: {{ player.money }}</p>

    <form class="game">
    {% for ship in ships %}
        <div id = "{{ ship.id }}" style="background:#202020">
            <p>{{ ship.title }}</p>
            <img src="{{ ship.image.url }}" align="left">
            <p>Racing: {{ ship.racing }} Braking: {{ ship.braking }} Rotation: {{ ship.rotate }}</p>
            <p>Cost: {{ ship.cost }}</p>

            {% if player.money >= ship.cost %}
            <input type="button" onclick="{
                $.ajax({
                    url: '/ajax/buyShip/',
                    data: {
                    'player_id': {{ player.id }},
                    'ship_id': {{ ship.id }},
                    },
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('{{ ship.id }}').remove();
                        document.getElementById('money').innerHTML = 'Money: ' + data['money'];
                    }
                });
            }" value="Buy">
            {% else %}
                <p>You don't have such money</p>
            {% endif %}
        </div>
    {% endfor %}
    </form>
    <br>

    <h5>Available weapons to buy</h5>

    <form class="game">
    {% for weapon in weapons %}
        <div id = "{{ weapon.id }}" style="background:#202020">
            <p>{{ weapon.title }}</p>
            <img src="{{ weapon.image.url }}" align="left">

            <p>Cost: {{ weapon.cost|mult:player.ships.count }}</p>

            {% if player.money >= weapon.cost|mult:player.ships.count %}
            <input type="button" onclick="{
                $.ajax({
                    url: '/ajax/buyWeapon/',
                    data: {
                    'player_id': {{ player.id }},
                    'weapon_id': {{ weapon.id }},
                    },
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('{{ weapon.id }}').remove();
                        document.getElementById('money').innerHTML = 'Money: ' + data['money'];
                    }
                });
            }" value="Buy">
            {% else %}
                <p>You don't have such money</p>
            {% endif %}
        </div>
    {% endfor %}
    </form>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% endblock %}